In [211]:
import pandas as pd

# Load the dataframe
df = pd.read_excel("C:\\Users\\logans1\\Desktop\\Excel_GroupBy\\Leases - Legal update.xlsx", sheet_name="Sheet1")
df

,Internal ID,Lease Type,Lease Number,Item,Related Asset,Acreage,Legal Description
0,8601,Agriculture,100001,Grazing Rent,FAM002093,70.00,E2
1,8601,Agriculture,100001,Grazing Rent,FAM002094,640.00,ALL
2,8601,Agriculture,100001,Dry Crop Land,FAM002093,250.00,E2
3,8704,Agriculture,100014,Grazing Rent Bid,FAM004437,637.12,"LTS 1-2, S2NE, SE, W2"
4,8704,Agriculture,100014,Grazing Rent Bid,FAM004635,609.18,"LTS 1-4, S2N2, S2"
...,...,...,...,...,...,...,...
46318,1221454,Agriculture,115146,Grazing Rent,FAM006397,640.00,ALL
46319,1221457,Agriculture,115147,Non-Billable Acres,FAM004207,3.00,ALL
46320,1221457,Agriculture,115147,Grazing Rent,FAM004207,352.40,ALL
46321,1221457,Agriculture,115147,Dry Crop Land Fixed,FAM004207,94.60,ALL
46322,1221457,Agriculture,115147,Irrigated Crop,FAM004207,190.00,ALL

In [212]:
# Check if the columns "Internal ID", "Item", and "Related Asset" are present in the dataframe
columns_to_drop = ["Internal ID", "Item", "Related Asset"]
columns_present = [column in df.columns for column in columns_to_drop]

# Only drop the columns that are present in the dataframe
if any(columns_present):
    df = df.drop(columns=columns_to_drop)

df

        Lease Type  Lease Number  Acreage      Legal Description
0      Agriculture        100001    70.00                     E2
1      Agriculture        100001   640.00                    ALL
2      Agriculture        100001   250.00                     E2
3      Agriculture        100014   637.12  LTS 1-2, S2NE, SE, W2
4      Agriculture        100014   609.18      LTS 1-4, S2N2, S2
...            ...           ...      ...                    ...
46318  Agriculture        115146   640.00                    ALL
46319  Agriculture        115147     3.00                    ALL
46320  Agriculture        115147   352.40                    ALL
46321  Agriculture        115147    94.60                    ALL
46322  Agriculture        115147   190.00                    ALL

[46323 rows x 4 columns]

In [213]:
# Group the dataframe by the Lease Number column and sum the values in the Acreage column
summary_df = df.groupby('Lease Number')['Acreage'].sum().reset_index()

# Rename the Acreage column to Total Acreage
summary_df = summary_df.rename(columns={'Acreage': 'Total Lease Acreage'})

# The summary dataframe now contains the total acreage for each Lease Number
print(summary_df)

      Lease Number  Total Lease Acreage
0           100001               960.00
1           100014             47859.79
2           100112              2660.55
3           100145              1280.00
4           100148              5175.02
...            ...                  ...
7312        115143               640.00
7313        115144               640.00
7314        115145               640.00
7315        115146               640.00
7316        115147               640.00

[7317 rows x 2 columns]

In [214]:
df_legals = df.groupby('Lease Number')['Legal Description'].apply(lambda x: ', '.join([str(i) for i in x])).reset_index()
df_legals.columns = ['Lease Number', 'Lease Legals']

df_legals

      Lease Number                                       Lease Legals
0           100001                                        E2, ALL, E2
1           100014  LTS 1-2, S2NE, SE, W2, LTS 1-4, S2N2, S2, LTS ...
2           100112  ALL, LTS 11,12; S2SE, S2SW, SW, SWSE, W2NW, S2...
3           100145                                 ALL, ALL, ALL, ALL
4           100148  LOTS 2-4, S2NW, NWSW; ALL PARTS OF LOT 1, S2NE...
...            ...                                                ...
7312        115143                                                ALL
7313        115144                                           ALL, ALL
7314        115145                                                ALL
7315        115146                                                ALL
7316        115147                                 ALL, ALL, ALL, ALL

[7317 rows x 2 columns]

In [215]:
# Merge df_legals and summary_df into one df
merged_df = pd.merge(df_legals, summary_df, on='Lease Number')
merged_df

,Lease Number,Lease Legals,Total Lease Acreage
0,100001,"E2, ALL, E2",960.00
1,100014,"LTS 1-2, S2NE, SE, W2, LTS 1-4, S2N2, S2, LTS ...",47859.79
2,100112,"ALL, LTS 11,12; S2SE, S2SW, SW, SWSE, W2NW, S2...",2660.55
3,100145,"ALL, ALL, ALL, ALL",1280.00
4,100148,"LOTS 2-4, S2NW, NWSW; ALL PARTS OF LOT 1, S2NE...",5175.02
...,...,...,...
7312,115143,ALL,640.00
7313,115144,"ALL, ALL",640.00
7314,115145,ALL,640.00
7315,115146,ALL,640.00
7316,115147,"ALL, ALL, ALL, ALL",640.00