In [1]:
import pandas as pd
import numpy as np
import tkinter as tk
from tkinter import filedialog


# Open a file selection dialog and get the selected file's path
root = tk.Tk()
file_path = filedialog.askopenfilename()

# Load the dataframe
df = pd.read_excel(file_path, sheet_name="LeaseLegalDescriptionsforShawn")


# G:/Shared drives/SLB Business Intelligence/Data Services/GIS/Scripting/Lease_Update/Lease.xlsx

In [2]:
# Create a list of rows to drop
rows_to_drop = df[df['Lease Type'].isin(['RE - Wind', 'RE - Solar', 'Right of Way'])].index

# Drop the rows
df.drop(rows_to_drop, inplace=True)

In [3]:
# Create abbreviations for merge with Lease Number
df['Lease Type abbv'] = df['Lease Type'].apply(lambda x: 'AG-' if x == 'Agriculture' else 'COMM-' if x == 'Commercial' else 'TOW-' if x == 'Tower' else 'ES-' if x == 'Ecosystem Services' else 'SM-' if x == 'Solid Mineral' else 'RAP-' if x == 'Road Access Permit' else 'OG-' if x == 'Oil and Gas' else 'REC-' if x == 'Recreation' else 'TAP-' if x == 'Temporary Access Permit' else 'NSO-' if x == 'No Surface Occupancy' else 'AGRMT-' if x == 'Agreement' else 'EP-' if x == 'Exploration Permit' else 'GCS-' if x == 'Geologic Carbon Storage' else 'TAP-' if x == 'Temporary Access Permit Consideration' else 'GRND-' if x == 'Ground' else x[:3])

# use the str function to convert the integer values to strings before concatenating them
df['Transaction Number'] = df.apply(lambda row: row['Lease Type abbv'] + str(row['Lease Number']), axis=1)

df

,Internal ID,Lease Type,Lease Number,Item,Related Asset,Name,Acreage,Legal Description,Lease Type abbv,Transaction Number
0,8601,Agriculture,100001,Grazing Rent,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,70.00,E2,AG-,AG-100001
1,8601,Agriculture,100001,Grazing Rent,FAM002094,6-5S-59W-36-Surface-Arapahoe-School,640.00,ALL,AG-,AG-100001
2,8601,Agriculture,100001,Dry Crop Land,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,250.00,E2,AG-,AG-100001
3,8704,Agriculture,100014,Grazing Rent Bid,FAM004437,6-15S-62W-1-Surface-El Paso-School,637.12,"LTS 1-2, S2NE, SE, W2",AG-,AG-100014
4,8704,Agriculture,100014,Grazing Rent Bid,FAM004635,6-16S-62W-1-Surface-El Paso-School,609.18,"LTS 1-4, S2N2, S2",AG-,AG-100014
...,...,...,...,...,...,...,...,...,...,...
46278,1224851,Temporary Access Permit,115152,Temporary Access Permit Consideration,FAM004840,6-17S-64W-19-Surface-El Paso-School,309.88,N2,TAP-,TAP-115152
46279,1225261,Recreation,115153,Recreation Rent,FAM001173,6-1N-64W-16-Surface-Weld-School,320.00,E2,REC-,REC-115153
46280,1226389,Temporary Access Permit,115155,Temporary Access Permit Consideration,FAM001963,6-5N-62W-1-Surface-Weld-School,641.64,ALL,TAP-,TAP-115155
46281,1226389,Temporary Access Permit,115155,Temporary Access Permit Consideration,FAM001964,6-5N-62W-2-Surface-Weld-School,644.08,ALL,TAP-,TAP-115155
46282,1226389,Temporary Access Permit,115155,Temporary Access Permit Consideration,FAM001964,6-5N-62W-2-Surface-Weld-School,644.08,ALL,TAP-,TAP-115155

In [4]:
# Check if the columns "Internal ID", "Item", and "Related Asset" are present in the dataframe
columns_to_drop = ["Internal ID", "Item", "Related Asset", "Lease Type abbv"]
columns_present = [column in df.columns for column in columns_to_drop]

# Only drop the columns that are present in the dataframe
if any(columns_present):
    df = df.drop(columns=columns_to_drop)

df

,Lease Type,Lease Number,Name,Acreage,Legal Description,Transaction Number
0,Agriculture,100001,6-5S-59W-10-Surface-Arapahoe-School,70.00,E2,AG-100001
1,Agriculture,100001,6-5S-59W-36-Surface-Arapahoe-School,640.00,ALL,AG-100001
2,Agriculture,100001,6-5S-59W-10-Surface-Arapahoe-School,250.00,E2,AG-100001
3,Agriculture,100014,6-15S-62W-1-Surface-El Paso-School,637.12,"LTS 1-2, S2NE, SE, W2",AG-100014
4,Agriculture,100014,6-16S-62W-1-Surface-El Paso-School,609.18,"LTS 1-4, S2N2, S2",AG-100014
...,...,...,...,...,...,...
46278,Temporary Access Permit,115152,6-17S-64W-19-Surface-El Paso-School,309.88,N2,TAP-115152
46279,Recreation,115153,6-1N-64W-16-Surface-Weld-School,320.00,E2,REC-115153
46280,Temporary Access Permit,115155,6-5N-62W-1-Surface-Weld-School,641.64,ALL,TAP-115155
46281,Temporary Access Permit,115155,6-5N-62W-2-Surface-Weld-School,644.08,ALL,TAP-115155
46282,Temporary Access Permit,115155,6-5N-62W-2-Surface-Weld-School,644.08,ALL,TAP-115155

In [5]:
# Group the dataframe by the Lease Number column and sum the values in the Acreage column
summary_df = df.groupby('Transaction Number')['Acreage'].sum().reset_index()

# Rename the Acreage column to Total Acreage
summary_df = summary_df.rename(columns={'Acreage': 'Total Lease Acreage'})

# The summary dataframe now contains the total acreage for each Lease Number
summary_df

     Transaction Number  Total Lease Acreage
0             AG-100001              960.000
1             AG-100014            47859.790
2             AG-100112             2660.550
3             AG-100145             1280.000
4             AG-100148             5175.020
...                 ...                  ...
4192         TOW-112838               40.000
4193         TOW-113440                0.028
4194         TOW-113960              160.000
4195         TOW-114153                0.370
4196         TOW-114318                2.760

[4197 rows x 2 columns]

In [6]:
df_legals = df.groupby('Transaction Number')['Legal Description'].apply(lambda x: ', '.join([str(i) for i in x])).reset_index()
df_legals.columns = ['Transaction Number', 'Lease Legals']

df_legals

     Transaction Number                                       Lease Legals
0             AG-100001                                        E2, ALL, E2
1             AG-100014  LTS 1-2, S2NE, SE, W2, LTS 1-4, S2N2, S2, LTS ...
2             AG-100112  ALL, LTS 11,12; S2SE, S2SW, SW, SWSE, W2NW, S2...
3             AG-100145                                 ALL, ALL, ALL, ALL
4             AG-100148  LOTS 2-4, S2NW, NWSW; ALL PARTS OF LOT 1, S2NE...
...                 ...                                                ...
4192         TOW-112838                                           nan, ALL
4193         TOW-113440                                             SESWSE
4194         TOW-113960                                                 NW
4195         TOW-114153                                             NENESE
4196         TOW-114318  nan, SESWSE, SESWSE, SESWSE, SESWSE, SESWSE, S...

[4197 rows x 2 columns]

In [7]:
# Merge df_legals and summary_df into one df
merged_df = pd.merge(df_legals, summary_df, on='Transaction Number')

merged_df

,Transaction Number,Lease Legals,Total Lease Acreage
0,AG-100001,"E2, ALL, E2",960.000
1,AG-100014,"LTS 1-2, S2NE, SE, W2, LTS 1-4, S2N2, S2, LTS ...",47859.790
2,AG-100112,"ALL, LTS 11,12; S2SE, S2SW, SW, SWSE, W2NW, S2...",2660.550
3,AG-100145,"ALL, ALL, ALL, ALL",1280.000
4,AG-100148,"LOTS 2-4, S2NW, NWSW; ALL PARTS OF LOT 1, S2NE...",5175.020
...,...,...,...
4192,TOW-112838,"nan, ALL",40.000
4193,TOW-113440,SESWSE,0.028
4194,TOW-113960,NW,160.000
4195,TOW-114153,NENESE,0.370
4196,TOW-114318,"nan, SESWSE, SESWSE, SESWSE, SESWSE, SESWSE, S...",2.760

In [8]:
mask = merged_df['Lease Legals'].str.len() > 200
merged_df['Lease Legals'] = merged_df['Lease Legals'].where(~mask, 'See Lease Documentation')



merged_df

,Transaction Number,Lease Legals,Total Lease Acreage
0,AG-100001,"E2, ALL, E2",960.000
1,AG-100014,See Lease Documentation,47859.790
2,AG-100112,See Lease Documentation,2660.550
3,AG-100145,"ALL, ALL, ALL, ALL",1280.000
4,AG-100148,See Lease Documentation,5175.020
...,...,...,...
4192,TOW-112838,"nan, ALL",40.000
4193,TOW-113440,SESWSE,0.028
4194,TOW-113960,NW,160.000
4195,TOW-114153,NENESE,0.370
4196,TOW-114318,"nan, SESWSE, SESWSE, SESWSE, SESWSE, SESWSE, S...",2.760

In [9]:
merged_df['Lease Legals'] = merged_df['Lease Legals'].str.replace('nan, ', '')
merged_df['Lease Legals'] = merged_df['Lease Legals'].str.replace('nan', '')
merged_df['Lease Legals'] = merged_df['Lease Legals'].str.replace(', nan', '')
merged_df

,Transaction Number,Lease Legals,Total Lease Acreage
0,AG-100001,"E2, ALL, E2",960.000
1,AG-100014,See Lease Documentation,47859.790
2,AG-100112,See Lease Documentation,2660.550
3,AG-100145,"ALL, ALL, ALL, ALL",1280.000
4,AG-100148,See Lease Documentation,5175.020
...,...,...,...
4192,TOW-112838,ALL,40.000
4193,TOW-113440,SESWSE,0.028
4194,TOW-113960,NW,160.000
4195,TOW-114153,NENESE,0.370
4196,TOW-114318,"SESWSE, SESWSE, SESWSE, SESWSE, SESWSE, SESWSE...",2.760

In [13]:
# merged_df.to_excel('G:/Shared drives/SLB Business Intelligence/Data Services/GIS/Scripting/Lease_Update/Lease Update.xlsx', index=False)
random_rows = merged_df.sample(n=20)
random_rows test

,Transaction Number,Lease Legals,Total Lease Acreage
3633,REC-114179,"S2, N2,N2SE, W2,SESE, N2SW",1160.00
1394,AG-111675,"ALL, ALL",1280.00
4035,TAP-109843,"N2,NESW,N2SE, NE, E2NW, NESW, N2SE; LOTS 5-7",912.99
3349,REC-109358,See Lease Documentation,8704.61
2254,ES-112144,105 ac along Rabbit Creek,105.00
3940,SM-102761,FRAC PART OF THE SWNE AS DESCRIBED IN EXHIBIT C,2.01
3295,RAP-112556,"FRACTIONAL PART SENW, FRACTIONAL PART SWNE, FR...",1.47
748,AG-109476,See Lease Documentation,11029.82
34,AG-101667,"N2, N2, N2, N2, N2",793.00
2369,OG-108078,See Lease Documentation,1200.00
4010,TAP-109523,Fractional Part,0.00
2031,AG-114387,"LTS 2 - 4; S2NW; N2SW, LT 1; SENE; NESE, ALL, ...",3363.13
1323,AG-111316,"ALL, ALL",640.00
1491,AG-112188,"ALL, ALL",640.00
2914,OG-112948,"ALL,",640.00
3049,OG-113624,"NE, N2NW, E2SE, NE, N2NW, E2SE",640.00
2185,AG-115044,"ALL, ALL",640.00
2799,OG-109611,See Lease Documentation,502.84
2207,AGRMT-113683,See Lease Documentation,51548.64
3877,SM-102695,FRAC PT SWSE,1.47