In [78]:
import pandas as pd

# Load the dataframe
df = pd.read_excel("C:\\Users\\logans1\\Desktop\\Excel_GroupBy\\Leases - Legal update.xlsx", sheet_name="Sheet1")
df

,Internal ID,Lease Type,Lease Number,Item,Related Asset,Acreage,Legal Description
0,8601,Agriculture,100001,Grazing Rent,FAM002093,70.00,E2
1,8601,Agriculture,100001,Grazing Rent,FAM002094,640.00,ALL
2,8601,Agriculture,100001,Dry Crop Land,FAM002093,250.00,E2
3,8704,Agriculture,100014,Grazing Rent Bid,FAM004437,637.12,"LTS 1-2, S2NE, SE, W2"
4,8704,Agriculture,100014,Grazing Rent Bid,FAM004635,609.18,"LTS 1-4, S2N2, S2"
...,...,...,...,...,...,...,...
46318,1221454,Agriculture,115146,Grazing Rent,FAM006397,640.00,ALL
46319,1221457,Agriculture,115147,Non-Billable Acres,FAM004207,3.00,ALL
46320,1221457,Agriculture,115147,Grazing Rent,FAM004207,352.40,ALL
46321,1221457,Agriculture,115147,Dry Crop Land Fixed,FAM004207,94.60,ALL
46322,1221457,Agriculture,115147,Irrigated Crop,FAM004207,190.00,ALL

In [79]:
# Check if the columns "Internal ID", "Item", and "Related Asset" are present in the dataframe
columns_to_drop = ["Internal ID", "Item", "Related Asset"]
columns_present = [column in df.columns for column in columns_to_drop]

# Only drop the columns that are present in the dataframe
if any(columns_present):
    df = df.drop(columns=columns_to_drop)

df

        Lease Type  Lease Number  Acreage      Legal Description
0      Agriculture        100001    70.00                     E2
1      Agriculture        100001   640.00                    ALL
2      Agriculture        100001   250.00                     E2
3      Agriculture        100014   637.12  LTS 1-2, S2NE, SE, W2
4      Agriculture        100014   609.18      LTS 1-4, S2N2, S2
...            ...           ...      ...                    ...
46318  Agriculture        115146   640.00                    ALL
46319  Agriculture        115147     3.00                    ALL
46320  Agriculture        115147   352.40                    ALL
46321  Agriculture        115147    94.60                    ALL
46322  Agriculture        115147   190.00                    ALL

[46323 rows x 4 columns]

In [80]:
# Create the new columns
df = df.assign(
    Legal_Description_Combined=df["Legal Description"].astype(str),
    Total_Lease_Acreage=pd.to_numeric(df["Acreage"], errors="coerce").fillna(0).astype(int)
)
df

,Lease Type,Lease Number,Acreage,Legal Description,Legal_Description_Combined,Total_Lease_Acreage
0,Agriculture,100001,70.00,E2,E2,70
1,Agriculture,100001,640.00,ALL,ALL,640
2,Agriculture,100001,250.00,E2,E2,250
3,Agriculture,100014,637.12,"LTS 1-2, S2NE, SE, W2","LTS 1-2, S2NE, SE, W2",637
4,Agriculture,100014,609.18,"LTS 1-4, S2N2, S2","LTS 1-4, S2N2, S2",609
...,...,...,...,...,...,...
46318,Agriculture,115146,640.00,ALL,ALL,640
46319,Agriculture,115147,3.00,ALL,ALL,3
46320,Agriculture,115147,352.40,ALL,ALL,352
46321,Agriculture,115147,94.60,ALL,ALL,94
46322,Agriculture,115147,190.00,ALL,ALL,190

In [81]:
print(df.dtypes)

Lease Type                     object
Lease Number                    int64
Acreage                       float64
Legal Description              object
Legal_Description_Combined     object
Total_Lease_Acreage             int32
dtype: object

In [88]:
# Convert the "Total_Lease_Acreage" column to float64
df["Total_Lease_Acreage"] = df["Total_Lease_Acreage"].astype("int64")
print(df.dtypes)test

Lease Type                     object
Lease Number                    int64
Acreage                       float64
Legal Description              object
Legal_Description_Combined     object
Total_Lease_Acreage             int64
dtype: object

In [89]:
# Convert the "Total_Lease_Acreage" column to float64
df["Lease Number"] = df["Lease Number"].astype("int64")
print(df.dtypes)

Lease Type                     object
Lease Number                    int64
Acreage                       float64
Legal Description              object
Legal_Description_Combined     object
Total_Lease_Acreage             int64
dtype: object