In [70]:
import pandas as pd
import numpy as np
import tkinter as tk
from tkinter import filedialog


# Open a file selection dialog and get the selected file's path
root = tk.Tk()
root.withdraw()
file_path = filedialog.askopenfilename()

# Load the dataframe
df = pd.read_excel(file_path, sheet_name="GISLeaseUpdateResults")
df.head(5)

,Internal ID,Lease Type,Lease Subtype,Transaction Number,Lessee(s),Legacy Lease Number,Start Date (Letter Merge),End Date (Letter Merge),Related Asset,Name,Acreage,Legal Description,Lease Terms (Years),Administrator,District,Meridian,Township,Range,Section#,Lease Status
0,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,70.00,E2,15.0,Rachel Turner,North Central,6,5S,59W,10,Active
1,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002094,6-5S-59W-36-Surface-Arapahoe-School,640.00,ALL,15.0,Rachel Turner,North Central,6,5S,59W,36,Active
2,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,250.00,E2,15.0,Rachel Turner,North Central,6,5S,59W,10,Active
3,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004437,6-15S-62W-1-Surface-El Paso-School,637.12,"LTS 1-2, S2NE, SE, W2",25.0,Justin Osborne,South Central,6,15S,62W,1,Active
4,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004635,6-16S-62W-1-Surface-El Paso-School,609.18,"LTS 1-4, S2N2, S2",25.0,Justin Osborne,South Central,6,16S,62W,1,Active

In [71]:
# Change Column Names
column_name_changes = {'Internal ID': 'Netsuite Lease ID',
                      'Start Date (Letter Merge)': 'Start Date',
                      'End Date (Letter Merge)': 'End Date',
                      'Related Asset': 'Related FAM(s)',
                      'Name': 'Related FAM Name',
                      'Legal Description': 'Lease Legal Description',
                      'Section#': 'Section'}

# Use the rename method to change the column names
df = df.rename(columns=column_name_changes)

df.head(5)

,Netsuite Lease ID,Lease Type,Lease Subtype,Transaction Number,Lessee(s),Legacy Lease Number,Start Date,End Date,Related FAM(s),Related FAM Name,Acreage,Lease Legal Description,Lease Terms (Years),Administrator,District,Meridian,Township,Range,Section,Lease Status
0,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,70.00,E2,15.0,Rachel Turner,North Central,6,5S,59W,10,Active
1,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002094,6-5S-59W-36-Surface-Arapahoe-School,640.00,ALL,15.0,Rachel Turner,North Central,6,5S,59W,36,Active
2,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,250.00,E2,15.0,Rachel Turner,North Central,6,5S,59W,10,Active
3,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004437,6-15S-62W-1-Surface-El Paso-School,637.12,"LTS 1-2, S2NE, SE, W2",25.0,Justin Osborne,South Central,6,15S,62W,1,Active
4,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004635,6-16S-62W-1-Surface-El Paso-School,609.18,"LTS 1-4, S2N2, S2",25.0,Justin Osborne,South Central,6,16S,62W,1,Active

In [72]:
# Group the dataframe by the Lease Number column and sum the values in the Acreage column
summary_df = df.groupby('Transaction Number')['Acreage'].sum().reset_index()

# Rename the Acreage column to Total Lease Acreage
summary_df = summary_df.rename(columns={'Acreage': 'Total Lease Acreage'})

# The summary dataframe now contains the total acreage for each Lease Number
summary_df

     Transaction Number  Total Lease Acreage
0             AG-100001              960.000
1             AG-100014            47859.790
2             AG-100112             2660.550
3             AG-100145             1280.000
4             AG-100148             5175.020
...                 ...                  ...
4176         TOW-112838               40.000
4177         TOW-113440                0.028
4178         TOW-113960              160.000
4179         TOW-114153                0.370
4180         TOW-114318                2.760

[4181 rows x 2 columns]

In [73]:
df = pd.merge(df, summary_df, on='Transaction Number')

df.head(5)

,Netsuite Lease ID,Lease Type,Lease Subtype,Transaction Number,Lessee(s),Legacy Lease Number,Start Date,End Date,Related FAM(s),Related FAM Name,...,Lease Legal Description,Lease Terms (Years),Administrator,District,Meridian,Township,Range,Section,Lease Status,Total Lease Acreage
0,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,...,E2,15.0,Rachel Turner,North Central,6,5S,59W,10,Active,960.00
1,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002094,6-5S-59W-36-Surface-Arapahoe-School,...,ALL,15.0,Rachel Turner,North Central,6,5S,59W,36,Active,960.00
2,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,...,E2,15.0,Rachel Turner,North Central,6,5S,59W,10,Active,960.00
3,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004437,6-15S-62W-1-Surface-El Paso-School,...,"LTS 1-2, S2NE, SE, W2",25.0,Justin Osborne,South Central,6,15S,62W,1,Active,47859.79
4,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004635,6-16S-62W-1-Surface-El Paso-School,...,"LTS 1-4, S2N2, S2",25.0,Justin Osborne,South Central,6,16S,62W,1,Active,47859.79

In [74]:
# Groupby Lease Legal Descriptions by Transaction number. 

df_legals = df.groupby('Transaction Number')['Lease Legal Description'].apply(lambda x: ', '.join([str(i) for i in x])).reset_index()
df_legals.columns = ['Transaction Number', 'Lease Legal Description']

# Nan values need to be dropped
df_legals['Lease Legal Description'] = df_legals['Lease Legal Description'].str.replace('nan, ', '')
df_legals['Lease Legal Description'] = df_legals['Lease Legal Description'].str.replace('nan', '')
df_legals['Lease Legal Description'] = df_legals['Lease Legal Description'].str.replace(', nan', '')

# Replace values with "See Lease Documentation" if greater than 50
mask = df_legals['Lease Legal Description'].str.len() > 50
df_legals['Lease Legal Description'] = df_legals['Lease Legal Description'].where(~mask, 'See Lease Documentation')

df_legals

     Transaction Number  Lease Legal Description
0             AG-100001              E2, ALL, E2
1             AG-100014  See Lease Documentation
2             AG-100112  See Lease Documentation
3             AG-100145       ALL, ALL, ALL, ALL
4             AG-100148  See Lease Documentation
...                 ...                      ...
4176         TOW-112838                      ALL
4177         TOW-113440                   SESWSE
4178         TOW-113960                       NW
4179         TOW-114153                   NENESE
4180         TOW-114318  See Lease Documentation

[4181 rows x 2 columns]

In [75]:
# Merge df and df_legals into merged_df
merged_df = pd.merge(df, df_legals, on='Transaction Number', how='outer')
merged_df = merged_df.rename(columns={'Lease Legal Description_y': 'Lease Legal Description(s)'})

merged_df.head(5)

,Netsuite Lease ID,Lease Type,Lease Subtype,Transaction Number,Lessee(s),Legacy Lease Number,Start Date,End Date,Related FAM(s),Related FAM Name,...,Lease Terms (Years),Administrator,District,Meridian,Township,Range,Section,Lease Status,Total Lease Acreage,Lease Legal Description(s)
0,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,...,15.0,Rachel Turner,North Central,6,5S,59W,10,Active,960.00,"E2, ALL, E2"
1,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002094,6-5S-59W-36-Surface-Arapahoe-School,...,15.0,Rachel Turner,North Central,6,5S,59W,36,Active,960.00,"E2, ALL, E2"
2,8601,Agriculture,Agriculture,AG-100001,"CLARENCE G ELDRINGHOFF, SUSAN ELDRINGHOFF",AG 39761,2008-05-12,2023-05-12,FAM002093,6-5S-59W-10-Surface-Arapahoe-School,...,15.0,Rachel Turner,North Central,6,5S,59W,10,Active,960.00,"E2, ALL, E2"
3,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004437,6-15S-62W-1-Surface-El Paso-School,...,25.0,Justin Osborne,South Central,6,15S,62W,1,Active,47859.79,See Lease Documentation
4,8704,Agriculture,Grazing,AG-100014,"NATURE CONSERVANCY, DICK TANNER, SANDRA J TANN...",AG 42264,2006-11-27,2023-02-27,FAM004635,6-16S-62W-1-Surface-El Paso-School,...,25.0,Justin Osborne,South Central,6,16S,62W,1,Active,47859.79,See Lease Documentation

In [76]:
df.fillna("",inplace=True)
grouped_df = df.groupby('Transaction Number')['Section'].apply(lambda x: ', '.join(filter(None, [val.strip() for val in x])) if x.nunique()>1 else x.iloc[0]).reset_index()

# Replace values with "See Lease Documentation" if greater than 20
mask = grouped_df['Section'].str.len() > 20
grouped_df['Section'] = grouped_df['Section'].where(~mask, 'See Lease Documentation')

grouped_df.sample(50)

     Transaction Number                  Section
881           AG-109868                       30
456           AG-102141                       36
512           AG-102201                       14
2891          OG-112464                   32, 32
4038         TAP-109761  See Lease Documentation
3381         REC-111639                       24
440           AG-102124                   26, 36
2078          AG-114624                 6, 9, 31
71            AG-101710                       10
1139          AG-110521                       16
3504         REC-113095            25, 26, 36, 1
3337         RAP-114613                       36
2180          AG-115044                       16
347           AG-102029                       16
823           AG-109702                       11
943           AG-110022                       36
281           AG-101963                       36
52            AG-101686                       16
34            AG-101664          1, 16, 1, 16, 1
799           AG-109654                       36
3142          OG-114426                       17
3202         RAP-105670                     8, 8
2910          OG-112944                       36
2095          AG-114685           25, 26, 35, 36
3280         RAP-111350                        3
2582          OG-108419                       16
47            AG-101681                       12
2779          OG-108811                       34
2442          OG-108231                       12
1374          AG-111628  See Lease Documentation
947           AG-110028                       16
2899          OG-112775                       30
1651          AG-113021                       36
2010          AG-114366                       36
4099         TAP-114581            16, 16, 6, 36
1600          AG-112796                       16
3672         REC-114400  See Lease Documentation
2458          OG-108252                        7
521           AG-102210                       16
608           AG-109098  See Lease Documentation
3136          OG-114137                       36
2117          AG-114769  See Lease Documentation
2501          OG-108305                       24
3910          SM-102722                   25, 36
685           AG-109302               31, 31, 36
1512          AG-112318           13, 14, 13, 14
1833          AG-113710                       36
1092          AG-110380                       16
3538         REC-113449                       16
2132          AG-114797                       16

In [ ]:
# Rename Section to Section(s) in grouped_df and add to merged_df
grouped_df.rename(columns={'Section': 'Section(s)'}, inplace=True)
merged_df = pd.merge(merged_df, grouped_df[['Transaction Number', 'Section(s)']], on='Transaction Number', how='left')

In [82]:


# Check if Section is dropped
if 'Section' in merged_df.columns:
    merged_df.drop(columns=['Section'], inplace=True)


merged_df.sample(20)

C:\Users\logans1\AppData\Local\Temp\2\ipykernel_6588\3686701425.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Section(s)_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, grouped_df[['Transaction Number', 'Section(s)']], on='Transaction Number', how='left')

,Netsuite Lease ID,Lease Type,Lease Subtype,Transaction Number,Lessee(s),Legacy Lease Number,Start Date,End Date,Related FAM(s),Related FAM Name,...,Range,Lease Status,Total Lease Acreage,Lease Legal Description(s),Section(s)_x,Section(s)_y,Section(s)_x,Section(s)_y,Section(s)_x,Section(s)_y
31669,662151,Recreation,NaN,REC-112504,"DIAMOND PEAK CATTLE COMPANY, LLC",NaN,NaT,2024-06-20,FAM002315,6-6N-91W-24-Surface-Moffat-School,...,91W,Active,1796.57,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation
7279,19140,Oil and Gas,Oil & Gas,OG-108181,CRESTONE PEAK RESOURCES HOLDINGS LLC,OG 2026 72,1970-02-18,NaT,FAM037229,6-1N-67W-16-OGWell-Weld-School-05-123-07347,...,67W,Active,1280.00,See Lease Documentation,16,16,16,16,16,16
25123,20056,Agriculture,Grazing,AG-108787,TRAINOR CATTLE COMPANY,AG 47254,2014-01-09,2024-01-09,NaN,NaN,...,NaN,Active,51447.08,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation
21352,19494,Oil and Gas,Oil & Gas,OG-108535,KERR-MCGEE OIL & GAS ONSHORE LP,OG 8158 70,1970-02-18,NaT,FAM036992,6-4N-67W-36-OGWell-Weld-School-05-123-16694,...,67W,Active,1280.00,See Lease Documentation,36,36,36,36,36,36
8158,19159,Oil and Gas,Oil & Gas,OG-108200,KERR-MCGEE OIL & GAS ONSHORE LP,OG 2162 72,1970-02-18,NaT,FAM037268,6-3N-67W-16-OGWell-Weld-School-05-123-17242,...,67W,Active,1280.00,See Lease Documentation,16,16,16,16,16,16
26944,175841,Agriculture,Agriculture,AG-109644,SPRAGUE FARMS,NaN,2015-10-27,2025-10-27,FAM008065,6-4N-42W-16-Surface-Yuma-School,...,42W,Active,1712.79,"ALL, ALL, ALL, ALL, ALL,","16, 16, 16, 16, 16","16, 16, 16, 16, 16","16, 16, 16, 16, 16","16, 16, 16, 16, 16","16, 16, 16, 16, 16","16, 16, 16, 16, 16"
21275,19494,Oil and Gas,Oil & Gas,OG-108535,KERR-MCGEE OIL & GAS ONSHORE LP,OG 8158 70,1970-02-18,NaT,FAM037003,6-4N-67W-36-OGWell-Weld-School-05-123-22604,...,67W,Active,1280.00,See Lease Documentation,36,36,36,36,36,36
2873,12856,Solid Mineral,Gas Storage,SM-102499,COLORADO INTERSTATE GAS COMPANY,GS 82011,1982-01-01,2032-01-01,NaN,NaN,...,NaN,Active,863.00,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation
20841,19489,Oil and Gas,Oil & Gas,OG-108530,"NOBLE ENERGY, INC.",OG 8130 91,1980-12-17,NaT,FAM039353,6-6N-64W-36-OGWell-Weld-School-05-123-41510,...,64W,Active,1200.00,See Lease Documentation,36,36,36,36,36,36
25066,20056,Agriculture,Grazing,AG-108787,TRAINOR CATTLE COMPANY,AG 47254,2014-01-09,2024-01-09,FAM001863,6-4S-65W-36-Surface-Arapahoe-School,...,65W,Active,51447.08,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation,See Lease Documentation
9915,19208,Oil and Gas,Oil & Gas,OG-108249,KERR-MCGEE OIL & GAS ONSHORE LP,OG 3317 72,1967-10-18,NaT,FAM040242,6-2N-67W-16-OGWell-Weld-School-05-123-48409,...,67W,Active,960.00,See Lease Documentation,16,16,16,16,16,16
3750,16750,Oil and Gas,Oil & Gas,OG-105825,EVERGREEN NATURAL RESOURCES LLC,OG 1143 93,1993-08-12,NaT,FAM038345,6-32S-65W-16-OGWell-Las Animas-School-00-069-0...,...,65W,Active,640.00,See Lease Documentation,16,16,16,16,16,16
3362,16472,Agriculture,Conservation Reserve Program,AG-105774,"DAVID A. FRANSON, LORRAINE L. FRANSON, CHRISTO...",CRP 90106,NaT,NaT,FAM002750,6-8N-54W-15-Surface-Logan-School,...,54W,Active,640.30,"NE, SW, E2, NE,SW, NE,SW, E2","14, 15, 14, 14, 15","14, 15, 14, 14, 15","14, 15, 14, 14, 15","14, 15, 14, 14, 15","14, 15, 14, 14, 15","14, 15, 14, 14, 15"
611,10505,Agriculture,Grazing,AG-101815,"MARILYN SCHLICHENMAYER, ROY SCHLICHENMAYER",AG 47157,NaT,NaT,FAM002357,6-6S-44W-36-Surface-Kit Carson-School,...,44W,Active,160.00,NE,36,36,36,36,36,36
7256,19139,Oil and Gas,Oil & Gas,OG-108180,CRESTONE PEAK RESOURCES HOLDINGS LLC,OG 2025 72,1970-02-18,NaT,FAM040258,6-2N-66W-36-OGWell-Weld-School-05-123-46249,...,66W,Active,640.00,See Lease Documentation,36,36,36,36,36,36
21138,19493,Oil and Gas,Oil & Gas,OG-108534,KERR-MCGEE OIL & GAS ONSHORE LP,OG 8156 70,1970-02-18,NaT,FAM036980,6-2N-67W-36-OGWell-Weld-School-05-123-08952,...,67W,Active,81.00,See Lease Documentation,36,36,36,36,36,36
37112,1188318,Agriculture,Grazing,AG-115044,"TIMOTHY TROSPER, GLORIA TROSPER",NaN,2023-02-10,2033-02-10,FAM005079,6-19S-49W-16-Surface-Kiowa-School,...,49W,Active,640.00,"ALL, ALL",16,16,16,16,16,16
32733,760644,Oil and Gas,Oil & Gas,OG-113159,"BLANCA PEAK RESOURCES, LLC",NaN,NaT,2025-02-19,NaN,NaN,...,NaN,Active,640.00,"ALL,",36,36,36,36,36,36
17277,19417,Oil and Gas,Oil & Gas,OG-108458,"NOBLE ENERGY, INC.",OG 7861 70,1968-11-20,NaT,FAM036622,6-4N-63W-30-OGWell-Weld-School-05-123-15795,...,63W,Active,794.00,See Lease Documentation,30,30,30,30,30,30
30453,545252,Oil and Gas,Oil & Gas,OG-111779,"GRIZZLY PETROLEUM COMPANY, LLC",OG 5074 80,1980-04-16,NaT,FAM014623,6-6N-67W-36-Oil & Gas-Weld-School,...,67W,Active,960.00,See Lease Documentation,36,36,36,36,36,36